.form-container {
    background-color: black;
    padding: 40px;
    border-radius: 24px;
}

.SU-input {
    margin-top: 24px;
}

input {
    height: 40px;
    width: 320px;
    border-radius: 8px;
    border: none;
    padding: 0px 20px 0px 20px;
    font-size: 14px;
}

button {
    height: 40px;
    padding: 0px 20px 0px 20px;
    margin-left: 16px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    font-size: 14px;
    border: none;
    font-weight: bold;
}

.form-container p {
    width: 80%;
    color: white;
}

