.container {
  height: calc(100vh - 80px);
  width: 100vw;
  /* display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center; */
  /* padding: 100px; */
  padding-top: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.container h1 {
  font-size: 80px;
  line-height: 80px;
  background-image: linear-gradient(45deg, rgb(234, 0, 0), rgb(216, 0, 176));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container p {
  font-size: 18px;
}

.container h1, p {
  width: 50%;
}